body{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}
h1{
    text-align: center;
    font-size: 50px;
    background-color: blueviolet;
    border: 5px solid gray;
}
img{
    background-color: aqua;
    margin: 20px auto;
    display: flex;

}