header {
    background-color: #ABA9BF;
    border: 5px solid black;
    border-radius: 25px 25px 0px 0px;
    text-align: center;

}
body{
    max-width: 1000px;
    min-width:300px ;
    font-size: 20;
    margin: 20px auto;
    border: 5px Solid black;
    border-radius: 30px;



}
ul {
    display: flex;
    text-align: center;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    padding: 25px ;
    margin: 0px;
}
ul li {
    
    background-color: aqua;
    color: black;
    flex: 1 1 auto;
    text-align: center;
    margin: 5px;
    border: 1px black solid;
    padding: 0px;
    font-size: larger;

}
section{
    margin: 25px;
    border: 3px solid black;
    border-radius: 25px;

}
ul li:hover {
    background-color: #FF9670;

}
.active {
    background-color: #FF9670;
    color: black;
}
nav ul li a {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: black;
}

p {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin: 15px;
    width: 200px;
    height: 149px;
}

footer{
    background-color: #ABA9BF;
    border: 5px solid black;
    border-radius: 0px 0px 25px 25px;
    text-align: center;
    padding: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 5px 15px;
}




/* Color pallete CSS*/
.colors {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.colors th {
    background-color: #999;
}
.colors td{
    width: 33%;
    height: 3em;
}
.primary {
    background-color: #ABA9BF;
}
.secondary {
    background-color: #00FFFF;
}
.accent1 {
    background-color: #FF9670;
}