main {display: 
    block;
}

section {
    display: block;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap:15px
  }

.card {
    padding: 15px;
    border: 3px solid black;
    align-items: center;
    text-align: left;

    box-shadow: 2px 4px 8px black;
}
.card img {
    display: flex;
    width: 100%;
    height:auto;
    justify-self: center;
    align-self: center;
    margin: auto;
}

.card h2 {
    text-align: center;
}
.card p, .card a{
    margin: 5px;
}


