main {
    display: flex;
    flex-direction: column;
}

.discoverSection {
    border: 1px solid black;
    display: flex;
    margin: 15px 0px;
}

.discoverSection div {
    margin: 15px;
    float: right;
    margin: auto 15px;
}

.discoverSection picture {
    float: left;
}
.discoverSection img {
    width: 400px;
    height: auto;
    float: left;
}
.discoverSection h2 {
    text-align: center;
}
img{
    filter: blur(0em);
  transition: filter 3s;
}
img[data-src] {
    filter: blur(0.2em);
}

#lastVisit {
    grid-row: 5;
    grid-column: 1 / span 3;
    font-size: .75em;
}
.discoverSection img:hover {
    box-shadow: 0 0 50px #333;
}

#demographicData{
    display: grid;
    grid-template-columns: auto;
    border-radius: 15px;
    background-color: aqua;
    margin: 15px 0px;
    padding: 15px;
}

#tempImg{
    width: 100%;
    height: auto;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

#demoInfo{
    grid-column: 1;
    grid-row: 2;
}
#demographicData h2{
    text-align: center;
    grid-column: 1 / span 3;
    border-bottom: 1px solid black ;
    padding-bottom:5px ;
    margin: 0px;
}
