@media only screen and (min-width: 36em) {

    #orderField {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #specialInstructions {
        grid-column: 1 / span 3;
    }

    .orderConfirmation {
        position: fixed;
        bottom: 10%;
        top: 10%;
        left: 30%;
        right: 30%;
    }


}