main {
    display: block;
}

h1,
h2 {
    text-align: center;
}

form fieldset {
    margin: 2rem 0;
    border: 3px solid;
    border-radius: 15px;
    padding: .5rem 2%;
}

form fieldset {
    margin: 15px;
}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
    color: black;
}

form label.top input,
form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 5px;
    padding: .75rem;
    width: 50%;

}

form label.top textarea {
    width: 75%;
}

form label.sbs {
    display: block;
}

#orderField {
    display: block;
}

#fruit {
    display: grid;
}

.fruitsDropdown {
    margin: 5px;
}

#fruit select {
    margin-bottom: 15px;
}

#submitBtn {
    padding: 15px 30px;
    margin: 20px;
    margin-top: 0px;
    background-color: var(--accent-color);
    border-radius: 10px;
}

#submitBtn:hover {
    cursor: pointer;
}

#specialInstructions {
    width: 100%;
    height: 5em;
}