@media only screen and (min-width: 32.5em) {

header{
    background-color:coral;
    border-radius: 25px;
}
.profile_pic{
    width:200px;
    height:auto;
    float: right;
    border-radius: 25px;
    border: 3px solid black;
}

}