body{
    padding: 10px;
    max-width: 760px;
    justify-self: center;
    margin: auto;


}

header{
    background-color:aqua;
    border-radius: 25px;
    text-align: center;

}
footer{
    border-radius: 25px;
    border: 3px solid black;
    text-align: center;
    background-color: red;
    padding: 1rem
    
}

.profile_pic{
    width:100px;
    height:auto;
    border-radius: 0px;
    border: 3px solid black;

}
.head-grid {
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-items: center;
    align-items: center;
    border: 3px solid black;
    padding: 10px;
}

.add_line {
    border-top:3px solid black;
}
h1 h2 h3 {
    font-family: 'Source Sans Pro', sans-serif;
}